<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <br/>
    {% include sidebar-nav-links.html %} 
   <br/>
   <p class="lead" style="line-height: 1.5;"><small>{{ site.description }}</small></p>
  </header>

 

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

 <!-- {% include sidebar-icon-links.html %}
 <!-- {% include copyright.html %} -->
</div>